* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #FCE7C8;
    font-size: 20px;
    display: flex;
    width: 100%;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}

.title {
    margin: auto;
    width: 100%;
}

#title {
    margin: 5% auto;
}

#container {
    width: 80%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

button {
    cursor: pointer;
    border: 0;
    border-radius: 10%;
    margin: 5% 15%;
    padding: 10%;
}

.button {
    background-color: #FADA7A;
    padding: 2%;
    font-size: large;
}

.button-container {
    display: flex;
    width: 100%;
    justify-content: space-around;

}


.button-edit {
    background-color: #D3BD9A;
}

.button-delete {
    background-color: #E5B299;
}

img {
    width: 100px;
    height: auto;
    border-radius: 10%;
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    border: 1px solid;
    margin-bottom: 10%;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 10px;
    background-color: #E3CAA5;
}

td {
    border: 1px solid;
    padding: 5px;
}

.td-name {
    cursor: pointer;
}

th {
    padding: 5px;
}

form {
    background-color: #D8B384;
    padding: 10%;
    border-radius: 5%;
    margin-bottom: 10%;
    text-align: left;
}

.button-submit {
    background-color: #FFDC76;
    padding: 10px;
    font-size: large;
    cursor: pointer;
    border: 0;
    border-radius: 10%;
    margin: auto 40%;
    margin-bottom: 3%;
}

textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    resize: none;
    height: 20%;
}

form input[type="text"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgb(118, 118, 118);
}

tr:hover {
    background-color: #CEAB93;
}

tr:first-child {
    background-color: #AD8B73;
}

tr:first-child:hover {
    background-color: #AD8B73;
}



.modal {
    border: 20px solid  #7a6657;
    background-image:url("https://images.pexels.com/photos/958545/pexels-photo-958545.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    width: 50%;
    height: 50%;
    margin: 10% 25%;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#CEAB93;
    font-size: 28px;
    border-radius: 25px;
}

.modal p{
    background-color:#7a6657 ;
    border-radius: 5px;
    padding: 8px;
}


#annotation {
    margin-top: 0;
    color: #423F3E;
    font-size: 15px;
}

#recipes-table tr:first-child th:first-child {
    border-top-left-radius: 10px;
}

#recipes-table tr:first-child th:last-child {
    border-top-right-radius: 10px;
}

#recipes-table tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}

#recipes-table tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}

.card {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    background-color: #E3CAA5;
    padding: 20px;
    border-radius: 5%;
    margin: 20px auto;
    width: 80%;
}

.card h2 {
    width: 100%;
    margin: auto;
    margin-left: 5%;
    margin-bottom: 1%;
    font-size: 50px;
}

.card img {
    width: 90%;
    border-radius: 3%;
    margin-left: 5%;
    margin-bottom: 1%;

}

.card p {
    margin-left: 5%;
    width: 90%;
    margin-bottom: 2%;
    font-size: 30px;
}

.card ul {
    list-style: none;
    width: 90%;
    margin-bottom: 1%;
    list-style-type: "- ";
}

.card li {
    width: 100%;
    margin-left: 10%;
    font-size: 30px;
}

.card h4 {
    width: 100%;
    margin: auto;
    margin-left: 5%;
    margin-bottom: 1%;
    margin-top: 2%;
    font-size: 30px;
}

#ingredients {
    margin-bottom: 0%;
    margin-left: 5%;

}

#result {
    width: 100%;
}

#country-select {
    border-radius: 5px;
    background-color: #AD8B73;
    border: 1px solid black;
}

@media (max-width: 768px) {

    .card h2 {
        font-size: 15px;
    }

    .card p {
        font-size: 15px;
    }

    .card h4 {
        font-size: 15px;
    }

    .card li {
        font-size: 15px;
    }

    .button {
        font-size: 10px;
    }

}